@for $i from 1 through 12 {
  .c-instance {
    
    // :nth-of-type(1-12) 
    &:nth-of-type(#{$i}) {
      
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (.07s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
/*    transform: scale(0);*/
  }
  
  100% {
    opacity: 1;
/*    transform: scale(1);*/
  }
}